body {
  background:
          linear-gradient(135deg,
          rgba(73,155,234,1) 0%,
          rgba(19,75,130,1) 100%);
  height: 100vh;
  padding-top: 40px;
}

$borderColor: #808080;
$white: #fff;


.employed {
  padding: 40px 15px;
  max-width: 500px;
  margin: 0 auto;
  &__form {
    background-color: #fff;
    padding: 20px;
    .fa-list-alt {
      font-size: 25px;
      color: black;
    }
    &__header {
      padding-left: 15px;
      display: inline-block;
      font-size: 25px;
      font-weight: 400;
      line-height: 1.5;
      text-transform: uppercase;
      margin-bottom: 12px;
    }
    &__input {
      display: block;
      width: 90%;
      border-radius: 10px 0 0 10px;
      border: 1px solid grey;
      height: 30px;
      float: left;
      box-sizing: border-box;
      transition: .3s;
      padding: 0 10px;
      &:focus {
        outline: none;
        padding: 0 15px;
        border: 0;
        border-radius: 0;
      }
    }
    &__submit {
      display: block;
      width: 10%;
      background-color: grey;
      border-radius: 0 10px 10px 0;
      height: 30px;
      border: 0;
      font-size: 25px;
      line-height: 25px;
      font-weight: 300;
      color: #fff;
      cursor: pointer;
    }
  }
  &__list {
    max-width: 100%;
    background-color: $white;
    padding: 20px;
    &__employee {
      position: relative;
      padding: 10px 0 5px;
      border-bottom: 1px solid lightgrey;
      .fa-user {
        padding-right: 15px;
      }
      .fa-trash {
        color: lightgrey;
        position: absolute;
        right: 10px;
        transition: .3s;
        cursor: pointer;
        &:hover {
          color: grey;
        }
      }
    }
  }
}